#Configuration for log output

[loggers]
keys=root

[handlers]
keys=console, rotatingFile
#keys=console, rotatingFile, rsyslog

[formatters]
keys=shorter

[logger_root]
level=NOTSET
#handlers=rotatingFile, rsyslog
handlers=rotatingFile

[handler_console]
class=StreamHandler
level=INFO
formatter=shorter
args=(sys.stdout,)

[handler_rotatingFile]
class=mytools.AdvancedRotatingFileHandler
level=INFO
formatter=shorter
args=('/root/script/ftplib/var/log/ftpclient.log',  'a', 104857600, 10, None, 0, '.gz')

#[handler_rsyslog]
#class=handlers.SysLogHandler
#level=INFO
#formatter=shorter
#args=('/dev/log', handlers.SysLogHandler.LOG_USER)

[formatter_shorter]
format=%(asctime)s %(levelname)-8s: %(message)s  # %(filename)s:%(lineno)d %(name)s
datefmt=%d %H:%M:%S
